html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url("Shire_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: aliceblue;
}
